<div id="<%= dom_id cep %>">
  <p>
    <strong>Cep:</strong>
    <%= cep.cep %>
  </p>

  <p>
    <strong>Logradouro:</strong>
    <%= cep.logradouro %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= cep.bairro %>
  </p>

  <p>
    <strong>Localidade:</strong>
    <%= cep.localidade %>
  </p>

  <p>
    <strong>Uf:</strong>
    <%= cep.uf %>
  </p>

</div>
